.git
.idea
.gradle
.kotlin
.vscode
.venv
**/__pycache__
**/.pytest_cache
**/build
**/target
**/out
**/dist
**/node_modules
.env
**/.env
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.zip
*.log
*.pyc
*.pyo
signalharvester_files.txt
